.access-table-wrap
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td
    text-align center

.status-dot
  width 6px
  height 6px
  border-radius 6px
.access-tool-form
  .ant-form-item-label
    text-align left