#user-list
  width 100%
  height 100%

  .user
    display flex
    background-color #ffffff
    padding .17rem

    .img
      width .76rem
      height .76rem
      margin-right .17rem
      border-radius 50%

    .name
      color #111E36
      font-size 16px
      margin-bottom .06rem
      font-weight bold
    
    .info
      color #666666
      font-size 10px
      margin-bottom .01rem

  .am-flexbox
    width 100%

    .am-flexbox-item
      width 100%
      margin-bottom .07rem