
.source-data-analytic
  .bookmark-picker
    margin-top -6px
  .sd-input-wrap
    .ant-select-selection
    .ant-select-search__field__wrap
    .ant-btn
      height 32px
  .mg0
    margin 0 !important
  .pd0
    padding 0 !important
  .ant-table tr:hover
    background transparent
    & > td
      background transparent

  .mw--50
    max-width calc(100% - 50px)
  .mw--75
    max-width calc(100% - 75px)


  .color-grey-blue
    color #b7bdd3
  div:hover > .color-grey-blue
    color white
  .bg-dark-blue
    background-color #3b414e

  .bg-blue
    background-color #494f65

  .bg-light-blue
    background-color #52586c

  .bg-light-grey
    background-color #e7e8ed

  .bg-grey
    background-color #747983

  .bg-grey
    background-color #d7d7da
  .bg-grey-blue
    background-color #b7bdd3
  .color-dark-blue
    color #3b414e
  .color-light-blue
    color #52586c
  .color-blue
    color #494f65


  .ant-alert-info
    background-color #ECF6FD

  .viz-panel
    box-shadow 0 2px 5px #ccc
  .batch-filters-action
    margin-bottom 7.5px
  .extra-filters-bar
    padding-top 7.5px
  .extra-filter-tile
    margin-bottom 7.5px
    min-width 120px
    border-radius 12px
    background-color colorGreen
    &.exclude
      background-color colorRed
    &.disabled
      opacity 0.6
      background-image -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px)
      background-image repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px)
    .seperator
      opacity 0.5
      display inline-block
      vertical-align middle
      width 1px
      background-color white
      height 15px
      margin 0 7px

  .ant-progress-bg
    background-color colorGreen !important

  .width-100-65
    width calc(100% - 65px)

  .ant-select-auto-complete .ant-input-search
    height 32px

  .not-apply-lucene-query
    .anticon
      color colorBlue

  .bookmark-picker input
    vertical-align top

  .make-cornerr0 .ant-input
    border-top-right-radius 0
    border-bottom-right-radius 0

.hover-bg-grey-blue:hover
  background-color #b7bdd3

  .ant-select
    .ant-select-selector
      width: 100% !important
