.marketing-container
  background #e4eaef
  .scence-content
    .ant-divider-horizontal
      margin 12px 0
    .scence-content-row
      background #F7F7F7
      padding 16px
  .model-create-timer
    position absolute
    top 85px
    right 50px
    color #8A8A8A
  .ant-menu-item
    line-height 30px
    height 60px
    &::after
      border-right 0px
      transition none
      transform none
    .m-title
      font-size 16px
      font-weight 500
    .m-sub-content
      &:hover
        .opt-btns
          display inline-block
  .model-search-div // 营销模型 左侧列表搜索模块 宽度缩小后按钮隐藏问题
    padding 12px
    min-height 56px
    display flex
    align-items center
    justify-content space-between
    flex-wrap wrap
.marketing-events-container
  .ant-form-item
    margin-bottom 10px
  .timing-timer
    margin-bottom 0px
  .realtimer-item
    border-top 15px solid #fff
.events-filter-box
  .ant-legacy-form-item-control-wrapper // 营销策略 搜索模块 排版问题
    width auto
.acts-filter-box
  .ant-legacy-form-item-control-wrapper // 活动管理 搜索模块 排版问题
    width auto
