.bg-alarm-tmpl
  background #f3f8f9

.border-alarm-tmpl
  padding 16px
  border 1px solid rgb(217, 217, 217)
  border-radius 4px
  width 94%
  display inline-block
  margin-right 16px
  .ant-card-body
    padding 16px
.color-tmpl-title
  color #7e7fd9

.sugo-monitor-alarm
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td
    text-align center

.edit-alarm-form-item
  .ant-form-explain
    opacity .999999


// 处理备注的换行
pre.wrap {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
