.bulletChart
  .text-container
    position relative
    width 400px
    margin: 12px auto;
    border-radius 15px
    background #070E22
    font-size 12px
    font-family Source Han Sans CN
    font-weight 400
    height: 34px;
    line-height: 34px;
    span
      display inline-block
  .container
    position relative
    background#070E22
    text-align left
    width 60%
    height 24px
    line-height 32px
    border-radius 9px
    margin  0px auto
    .bar
      position absolute
      width 20%
      background linear-gradient(0deg,rgba(246,229,148,1),rgba(242,162,108,1))
      height 14px
      border-radius 9px
      transform translateY(-50%)
      top 50%
    .bar-other
      position absolute
      transform: translateY(-50%);
      top: 50%;
      width 20%
      background linear-gradient(0deg,rgba(246,229,148,1),rgba(242,162,108,1))
      height 14px
    .square1
      position absolute
      z-index 100
      width 36px
      height 36px
      line-height 36px
      background linear-gradient(0deg,rgba(68,77,228,1),rgba(100,108,250,1))
      border-radius 4px 4px 0px 0px
      text-align center
      font-size 12px
      font-family Source Han Sans CN
      font-weight 400
      color white
      bottom  0

