.task-schedule-table
  .text-blue
    color #428bca
    cursor pointer

  .table-container 
    padding 0 32px
    margin-top 20px
    .ant-table-body
      table 
        padding 0 !important

  .request-tips
    margin-bottom 20px
    &>div.ant-alert-success 
      padding 16px 15px
      font-size 14px
      color #468847
    &>div.ant-alert-error 
      padding 16px 15px
      font-size 14px
      color #cc0000
    
  .kill-project
    height 24px

  .filter-box
    padding 0 32px
    margin 20px 0
    min-width 1220px
    .ant-calendar-picker-input
      padding 0
