include includes/head1
title 验证邮件 - #{siteName}
style.
  .main {
    width: 800px;
    margin: 30px auto
  }

include includes/head2
include includes/browser-alert
#wrapper
  .main
    h2 您的邮件地址已经验证通过，您可以登录使用数果星盘了
    hr
    p
      a(href=host) 前往登录

include includes/footer-end