.sdk-btn-shadow
  position: absolute
  cursor: pointer

.sdk-btn-shadow:hover , .sdk-btn-shadow-click
  border:3px solid #4ba8ff
  border-radius:3px
  background:rgba(83,163,235,.2)
  box-sizing:border-box
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)

.sdk-btn-shadow-bind
  border:3px solid #1bb39c
  border-radius:3px
  background:rgba(13,139,113,.2)
  box-sizing:border-box
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)

.sdk-btn-shadow-dim-bind
  border:3px solid #9270e2
  border-radius:3px
  background:rgba(146,112,226,.2)
  box-sizing:border-box
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)

.sdk-btn-shadow-similar
 border:3px solid #ff0000
 border-radius:3px
 background:rgba(255,0,0,.2)
 box-sizing:border-box
 box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)


.sdk-btn-corss-page-bind
  border:3px solid #f37c80
  border-radius:3px
  background:rgba(243,124,128,.2)
  box-sizing:border-box
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)

.test-message-background:hover
  background-color: #eeeeee;
  cursor: pointer

.android_phone_gesture
  transform:rotate(70deg)
  -ms-transform:rotate(70deg) 	/* IE 9 */
  -moz-transform:rotate(70deg) 	/* Firefox */
  -webkit-transform:rotate(70deg) /* Safari 和 Chrome */
  -o-transform:rotate(70deg) 	/* Opera */

.event-custom-image
  overflow: auto
  max-height: 340px
  margin: 0 auto
  text-align: center

.editor-entry-wrapper
  margin: auto
  color: #666
  position: relative
  width: 100%
  overflow: hidden
  height: 100%
  .ant-card
    width: 600px
    margin: 20px auto
    .ant-card-head
      height 60px
      line-height 60px
    .ant-card-head-title
      font-size 18px
      font-weight 700
      line-height 60px
      padding 0
      text-align center
    .ant-card-body
      margin 42px 40px 32px
      padding 0
  .search-box, .ant-select-selection--single
    .ant-select-selector, .ant-select-selection-placeholder, .ant-select-selection-item
      height 48px
      line-height 48px
    background-color: transparent
    border-bottom-right-radius: 0
    border-top-right-radius: 0
    box-shadow: 0 1px 0 0 #ebf1f5
    box-sizing: border-box
    color: #6e859d
    font-size: 14px
    font-weight: 500
    height: 48px
    line-height: 14px
    margin: 0 -2px 18px 0
    position: relative
    width: 402px
    .ant-select-selector
       height 48px
       line-height 48px
       .ant-select-selection-placeholder
         line-height 48px
       .ant-select-selection-item
         line-height 48px
    .ant-select-selection__rendered
      line-height: 48px
      font-size: 14px
      font-weight: 500
  .search-btn
    border-bottom-left-radius: 0px
    border-top-left-radius: 0px
    height: 48px
    position: relative
    vertical-align: top
    width: 100px
    font-size: 18px
  .subtitle
    -webkit-animation: fadeIn .5s ease-out
    animation: fadeIn .5s ease-out
    color: #4c6072
    font-size: 15px
    font-weight: 700
    padding: 4px 0 6px
  .suggestion-list
    max-height: 300px
    overflow: auto
    -webkit-animation: fadeIn .5s ease-out
    animation: fadeIn .5s ease-out
    padding: 0
    position: relative
    left: -6px
    width: 100%
  .suggestion-item
    color: #6e859d
    cursor: pointer
    font-size: 13px
    font-weight: 500
    line-height: 18px
    overflow: hidden
    padding: 6px
    text-overflow: ellipsis
    white-space: nowrap
    &:hover
      background: #eee

  .ant-select-dropdown-menu-item
    font-size: 14px
    padding: 12px
.setting-reported-data
  height 480px
  width 300px
  .setting-reported-data-title
    height: 40px;
    background: #bbb;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 8px;
  .setting-reported-data-content
    height 400px
    overflow-y auto
    .setting-reported-data-item
      background-color #eee
      .setting-reported-data-itemtitle
        width 260px
        word-wrap break-word
  .setting-reported-data-footer
    height 40px
