.microcosmic-portrait 
  height 100%
  background rgba(228,234,239,1)
  .info-query
    line-height 60px
    margin 10px 10px
    background #fff
    font-size 16px
    font-weight 700
  .data-panel
    background #fff
    margin 0px 10px
  .query-panel 
    margin 10px
    background #fff
    height calc(100vh - 67px)
  .query-title
    font-size 26px
    padding-top 30vh
    text-align center
    font-weight 900
  .query-icon
    margin-top -30px
    width 50px
  .query-input
    font-weight normal 
    &dim
      width 150px
      line-height 36px  
    &key
      width 250px
      line-height 36px
    div
      height 36px
  .query-input1
    &dim
      width 140px
    &key
      width 210px
    font-weight normal
  .query-button
    height 36px
  .base-info-id
    font-weight 600
  .border-bottom 
    border-bottom 1px solid rgba(230,230,230,1)
  .tag-group-panel 
    background #f7f7f7
    padding 15px
    border 1px solid rgba(136,181,255,1)
    border-radius 5px
    display inline-block
    width 100%
    width calc(100% - 156px)
    margin-left 100px
  .tag-group-name 
    font-size 15px
    font-weight 600
    color #666
  .tag-group-item
    border-left 11px solid #88b5ff
    border-top 1px solid #88b5ff
    border-radius 4px 0px 0px 4px
    border-bottom 1px solid #88b5ff
    padding-left 5px
    background-repeat round
    height 28px
    display inline-block
    line-height 28px
    background-color #fff
  .tag-group-item-text
    margin-top -3px
  .tag-list-icon
    margin-left -69px
    font-size 24px
    font-weight normal
    border 2px solid #88b5ff
    padding 5px
    border-radius 20px
    z-index 999
    background #fff
    position absolute
    margin-top -9px
  .tag-list-line
    margin-left -32px
    width 16px
    border-bottom 2px solid #88b5ff
    height 1px
    margin-top 10px
    margin-right 16px
    position absolute
  .tag-list-line-l
    width 1px
    border-left 2px solid #88b5ff
    position absolute
    margin-top 26px
    margin-left 66px
    z-index 998
  .tag-user-group-item 
    border-radius 2px 
    line-height 22px
    padding 5px 25px
    background #88a4ff
    color #fff
  .tag-info-photo
    width 192px
    height 192px
    padding 36px
    img 
      width 116px
  .tag-info-base
    width calc(100% - 352px)
  .details-panel
    display inline-flex
  .details-base-tag 
    width 200px
    background-color #F7F7F7
    vertical-align top !important
  .details-tree
    width calc(100% - 200px)
  .tag-group-item2:after,.tag-group-item2:before 
    content ''
    display block
    position absolute
    left 100%
    width 0
    height 0
    border-style solid
  .tag-group-item2:after 
    top 10px
    border-color transparent transparent transparent #fff
    border-width 13px
  .tag-group-item2:before 
    top 9px
    border-color transparent transparent transparent #88b5ff
    border-width 14px
  .tag-group-item2
    top -37px
    position relative
  .ant-tree-child-tree
    margin-left 28px
    margin-top 5px
  .ant-tree.ant-tree-show-line li:not(:last-child):before
    border-left 1px solid #88a4ff
  .tree-icon-customize
    margin-left -55px
    z-index 9999
    position relative
    background-color #fff
  .tree-text-customize
    margin-left -25px
    height 20px
    line-height 20px
  .ant-tree li .ant-tree-node-content-wrapper
    line-height 16px
  .tag-item-panel
    background-image url('../../../images/dotted-line.png')
    width 400px
    background-repeat-x repeat
    height 20px
    background-size 4px 3px
    background-repeat-y no-repeat
    background-position center
  .tag-item-title
    background-color #fff
    height 20px
    line-height 20px
    display inline-block
  .tag-item-type
    height 24px
    line-height 24px
  .ant-tree li .ant-tree-node-content-wrapper:hover div
    background-color #e6f7ff
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected div
    background-color #bae7ff
  .ant-tree li span.ant-tree-switcher.ant-tree-switcher_close:after
    color rgba(0, 0, 0, 0.65) 
    content "\E625"
    font-size 24px 
  .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open:after
    color rgba(0, 0, 0, 0.65)
    content "\E623"
    font-size 24px 
  .select-actions-panel 
    position absolute
    right 0px
    margin-top -64px