.my-search 
    .ant-input-suffix
        i
            display: none
.public-loading-box
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  z-index 222
  background: rgba(255,255,255,0.2)
  .ant-spin-spinning
    left 50%
    top 50%
    position relative
.filter-box
  .ant-legacy-form-item-control-wrapper
    width: auto
        