.modalContainer
  :global
    .ant-modal-body
      padding-top: 0 
    .ant-row.ant-form-item 
      margin-bottom: 10px
.formItemCon
  position relative
  .deleteIcon
    position: absolute
    padding: 3px
    top: 5px
    right 10px
    color red
    font-size: 16px
    z-index : 999

    