.role-setting-model
  .ant-modal-body
    padding-right 8px

    .title
      height: 40px;
      background: #eee;
      line-height: 40px;
      padding-left: 14px;

    .content
      height: 397px;
      overflow: auto;
      padding: 12px;
      &::-webkit-scrollbar
        width 7px
        height 10px
        background #ccc
        border-radius 5px
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected
      background-color rgb(229, 229, 255) !important