.examine-info-flow 
  .start-button
    background-color #2196f3
    padding 10px
    border-radius 3px
    width 160px
    color #fff
    margin 0 auto
  .flow-icon
    font-size 60px
    color #aaa
    margin 10 auto
  .node-title
    padding 8px
    border 1px solid #aaa
    width 140px
    margin 0 auto
    border-radius 3px
  .node-content
    padding 8px
    border-left 1px solid #aaa
    border-bottom 1px solid #aaa
    border-right 1px solid #aaa
    width 140px
    margin 0 auto
    border-radius 3px
  .node-status
    height 8px
    width 8px
    border-radius 5px
    background #f00
    position absolute
    margin-top 6px
    margin-left 12px
  .end-button
    background-color #ccc
    padding 10px
    border-radius 3px
    width 160px
    color #fff
    margin 0 auto
  .success
    background-color #4caf50
  .error
    background-color #f44336
  .ant-table-row-expand-icon
    display none

.examine-info-modal
  .border-triangle 
      position: absolute
      left: -12px;
      top: 24px;
      border: 5px solid transparent;
      border-bottom: 12px solid #6969d7;
      transform: rotate(-90deg);
      height: 0;
      width: 0;
  .ant-steps-vertical .ant-steps-item-icon
    margin-top 20px
    margin-right 6px
  .ant-steps-vertical .ant-steps-item-tail
    top 21px !important
