.sdk-heat-map-chart
  .event-point-panel
    border 2px solid #40a5ed
    position absolute
    background rgba(125,125,125,0.7)
    &.point-group   
      color #fff
      display flex
      align-items center
      justify-content center

  .event-point 
    position absolute 
    &:hover
      border 2px solid #40a5ed
      background rgba(125,125,125,0.7)
