.consang 
  .consang-header
    width: 100%
    min-width 1000px
    padding: 8px 10px
    border: 1px solid #ccc
    margin-bottom: 10px
  .consang-tools
    width: 100%
    min-width 1400px
    padding: 8px 10px 5px 
    border: 1px solid #ccc
    margin-bottom: 10px
    display: flex
    justify-content flex-start
    text-align: center
    background: #dedede
    position relative
    // :global
    //   .ant-btn.ant-btn-primary
    //     background-color #b7b7b7
    //     border-color #b7b7b7
    .consang-btn-group
      margin-right: 20px
    .tool-text
      margin-top: 4px
      font-size: 12px
    .consang-divi
      width: 1px
      height 44px
      background #ccc
      margin: 5px 20px
