.table-box-item
&.none-box
  margin-bottom: -1px
  .table-tit
    width: 100%
    height 40px
    line-height: 40px
    padding-left: 60px
    box-sizing: border-box
  .table
    width: 101%
    margin: 0 -1px
    border-collapse: collapse
    .tit
      width: 190px
      padding-left: 60px
    .item-it
      display: flex
      flex-shrink: 1
      border-top: 1px solid #ddd
      align-items: center
      &.none
        border: none
    .api-box
      border-left: 1px solid #ddd
      display: flex
      align-items: center
      flex-grow: 1
      margin: -1px 0
      padding: 0 20px
      flex-wrap: wrap
      min-height: 40px;
      &.none
        border: none
      .ant-checkbox-wrapper
        margin:10px 5px 10px 0
    .item
      height: 40px
      display: flex
      align-items: center
      border-top: 1px solid #ddd
      padding-left: 20px
      flex-shrink: 1;
      min-width: 150px;
      &.none
        border: none
    .none-box
    td{
      border: 1px solid #ddd !important
      padding: 0;
    }
.last-none-box
  .table
    margin-top: -1px
.pre-table-box
  .ant-collapse-content
    .ant-collapse-content-box
      padding: 0

    
  