
.offline-dimension-formula-editor
  .CodeMirror
    height auto
  &.disabled
    .CodeMirror-widget
      pointer-events none
    .CodeMirror
      background #f5f5f5
      *
        cursor not-allowed
