#offline-calc-previewTable
  .ant-table-content
    .ant-table-body
      .ant-table-thead
        .ant-table-selection-column
          .ant-table-selection
            .ant-checkbox-wrapper
              display none !important