.model-output-column-editor
  .ant-table-thead tr th:not(:nth-of-type(1))
    padding 0 !important
    line-height 34px
  .ant-table-thead:hover tr th:not(:nth-of-type(1))
    background rgba(84, 156, 222, 0.15)
  .output-col
    cursor move
    &:hover
      background rgba(84, 156, 222, 0.35) !important

