.user-action-analytics
  .viz-switch-btn
    transition .2s
    border 1px solid #d9d9d9
    border-radius 4px
    &:hover
      background-color #6969d7;
      color #fff
  .viz-disable-btn
    transition .2s
    border 1px solid #d9d9d9
    border-radius 4px
  .slice-panel
    padding-bottom 20px
    padding-top 24px
    .report-titile
      padding 10px 0px
    .report-icon
      margin 20px 20px 0px 20px
      cursor pointer
    .report-content
      background #fff
    .report
      margin-left 12px
      height: calc(100%)
      background #fff
  .dem-group
    display inline-block
    vertical-align middle
    width 192px
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    background-color #ddd
    font-size 12px
    color #444
    line-height 30px
    .dem-del
      background white
      border-radius 16px
      font-size 1px
      padding 1px
      color #aaa
      cursor pointer
      &:hover
        color #6969d7
