
.loss-predict-theme
  .ant-radio
    vertical-align middle

  .ant-table-pagination
    margin-right 32px

  .ant-table-thead > tr:first-child > th
    text-align left
    height 30px
    background-color #41394c
    color white

  .table-col-pd3l
    padding-left 32px !important

  .input-corner14
    input
      border-radius 14px

  .ant-checkbox-inner
    zoom 1.3

  .corner-checkbox
    .ant-checkbox-inner
      border-radius 10px


.loss-predict-theme2
  .ant-table-thead th
    color #48a621

.loss-predict-guide-modal
  .slick-slide
    height 430px
    height 64vh

  .bg-light-blue
    background-color #f5f6f9

  .ant-modal-body
    padding 0
