// colors
colorMain = #6969d7
colorBlue = #479cdf
colorRed = #dd585d
colorGreen = #1bb39c
colorDarkMain = #2929a2

border-color = #cecece

// gaps
gap-small = 5px
gap-base = 12px
gap-large = 32px

// width
width-small = 120px
width-base = 180px
width-large = 180px
