
.behavior-analytics-theme
  for $i, $index in 10 20 32
    //padding
    .pd{$index+1}
      padding ($i)px
      
    .pd{$index+1}x
      padding-left ($i)px
      padding-right ($i)px

    .pd{$index+1}l
      padding-left ($i)px
    
    .pd{$index+1}r
      padding-right ($i)px
      
    .pd{$index+1}y
      padding-top ($i)px
      padding-bottom ($i)px

    .pd{$index+1}t
      padding-top ($i)px
    
    .pd{$index+1}b
      padding-bottom ($i)px

    //margin
    .mg{$index+1}
      margin ($i)px
      
    .mg{$index+1}x
      margin-left ($i)px
      margin-right ($i)px

    .mg{$index+1}l
      margin-left ($i)px
    
    .mg{$index+1}r
      margin-right ($i)px
      
    .mg{$index+1}y
      margin-top ($i)px
      margin-bottom ($i)px

    .mg{$index+1}t
      margin-top ($i)px
    
    .mg{$index+1}b
      margin-bottom ($i)px

  .collapse-toggle-btn, .bg-purple-blue
    background-color #9986ff
  .ant-card-head-title
    color white
  .ant-card-head
    background-color #7f73d6
  .border
    border solid 1px #dbdfed
  .bordert
    border-top solid 1px #dbdfed
  .borderb
    border-bottom solid 1px #dbdfed
  .borderr
    border-right solid 1px #dbdfed
  .borderl2
    border-left 3px solid #ddd
  .noradius
    border-radius: 0
  .height29
    height: 29px
  .shadow12
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15)
  .bg-gray-blue
    background-color #f9f9fb
  .table-gray-blue-head .ant-table-thead > tr > th
    background: #f9f9fb
  .table-white-head .ant-table-thead > tr > th
    background: white
  .bg-f5
    background: #f5f5f5
  .filter-col
    border-radius: 2px
    border: none
    height: 29px
    &:hover
      background: #ddd
  .blue-shadow
    box-shadow 0 2px 10px 0 rgba(124, 147, 184, 0.5)
  .color-purple-blue, .color-purple-blue *
    color #9986ff
  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked
    background-color #9986ff
    border-color #9986ff
    box-shadow none
  .ant-table-thead th span
    color #9986ff
  .hide-pagination .ant-pagination
    display none
  .ant-table-tbody > tr > td
    border-bottom solid 1px #dbdfed


.condition
  .ant-popover-title
    background-color: #eee