.single-topic-carousel {
  .single-topic-carousel-searchHeader {
    margin-top: 20px;
    padding-left: 30px;
    background-color: #fff;
  }

  .single-topic-carousel-table {
    .single-topic-carousel-table-header {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      background-color: rgb(242, 242, 242);
      margin-bottom: 20px;
    }

    .single-topic-carousel-table-content {
      padding: 20px;
    }
  }
}

.view-topic-carousel {
  width: 100%;

  .view-topic-carousel-warp {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;

    .view-topic-carousel-header {
      height: 45px;
      padding-left: 20px;
      line-height: 45px;
      font-size: 14px;
      background-color: rgb(242, 242, 242);
    }

    .view-topic-carousel-content {
      padding: 10px;
      padding-right: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

.topic-carousel {
  width: 100%;

  .mg-auto {
    display: flex;
    align-items: center;

    .topic-carousel-content {
      .pd1y {
        border: 1px solid #ccc;
        background-color: rgb(242, 242, 242);
        padding-top: 10px;
      }
    }
  }

  .topic-carousel-content {
    width: calc(100% - 80px);

    .ant-row.ant-form-item {
      display: flex;
      flex-wrap: nowrap;

      .ant-form-item-label {
        width: 100px;
      }

      .ant-form-item-control-wrapper {
        width: calc(100% - 100px);
      }
    }
  }
}

.insert-topic-carousel {
  .insert-topic-carousel-warp {
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
    width: 70%;

    .ant-row.ant-form-item:not(:last-child) {
      display: flex;
      flex-wrap: nowrap;

      .ant-form-item-label {
        width: 200px;
      }

      .ant-form-item-control-wrapper {
        width: calc(100% - 200px);

        .ant-input-number {
          width: 100%;
        }
      }
    }
  }
}

.live-screen-items.livescreen-control-top-card-list-box {
  width: calc(20% - 10px);
}
