body
  overflow hidden

#container .contain
  height 100%
  width 100%
  min-width 0
  min-height 0
#livescreen-control-tabs 
  // position fixed
  .ant-tabs-bar 
    margin 0
  .ant-card-head-title
    padding 0
  .ant-card-head
    min-height 0
  .ant-tabs-content
    height calc(100% - 45px)
// #main-header
//   display none
// .contain-docs-nav
//   display none
.livescreen-control-top-card-list-box
  border 1px solid #6969D7
  border-top 10px solid #6969D7
  padding 0 8px
  width 19%
  // margin-right 6px
.livescreen-control-top-card-list-title
  height 30px
  line-height 30px
  font-size 14px
  span
    margin-left 10px
.live-screencontrol-thememanager-listbar
  height 100%
  width 35%
  border-right 1px solid rgba(0, 0, 0, 0.1)
.live-screencontrol-thememanager-listbar-header
  height 6%
  line-height 5.5vh
.live-screencontrol-thememanager-listbar-containlist
  background-color #F5F5F5
  height 94%
.live-screencontrol-thememanager-listbar .live-screencontrol-thememanager-listbar-header .ant-btn
    padding 0 5px !important
.live-screencontrol-thememanager-listbar-containlist-item
  height 7%
  display flex
  justify-content: space-between
  align-items center
  .live-screencontrol-thememanager-listbar-containlist-item-word
    color rgba(26, 26, 26, 1)
    font-weight bold
.live-screencontrol-themecontain-list
  height calc(100% - 56px)
.live-screencontrol-themecontain-list-item
  width 70%

.screen-setting
  .ant-popover-message-title
    padding-left 0
