.user-life-cycle
  background #e4eaef
  .life-cycle-form
    border-radius 3px
    .user-id-select
      margin-bottom 0
      .ant-form-item-label
        text-align left
  .m-sub-content
    &:hover
      .opt-btns
        display inline-block
  .split-line
    height 80%
    left 60%
    position absolute
    border 1px solid #e8e8e8

.life-cycle-user-group-editor
  .ug-form
    padding 0
  .split-line
    height 82%
    left 29.16%
    position absolute
    border 1px solid #e8e8e8
  .footer-btn
    text-align center
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid #e9e9e9
    padding 10px 16px
    background #fff
    text-align right
  .life-cycle-form-card
    .ant-card-body
      padding 0
