.dashboard-layout {
    .slices-body {
        padding: 20px 0 20px 20px !important;
        .navs-and-buttons-wrapper{
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-wrap: nowrap !important;
            height: 50px !important;
            margin-right: 20px;
            .nav-bar{
                display: flex;
                justify-content: flex-end;
                flex-grow: 1 !important;
                padding-right: 10px !important;
                border: none !important;
                padding-left: 10px !important;
                .fix {
                    display: flex !important;
                    justify-content: flex-end !important;
                    align-items: center !important;
                    .fleft {
                        display: flex !important;
                        justify-content: flex-end !important;
                        align-items: center !important;
                        .border-none-btn {
                            border: none !important;
                            width: 18px !important;
                            height: 18px !important;
                            padding:0px !important;
                            line-height: 18px !important;
                            margin-right: 10px !important;
                            margin-left: 0px !important;
                        }
                        .sub-btn{
                            margin-left: 0px !important;
                        }
                        .ant-select{
                            height: 30px;
                            .ant-select-selector{
                                height: 30px;
                            }
                        }
                    }
                }
                .alignright {
                    // border-left: 1px solid;
                    display: flex !important;
                    justify-content: flex-end !important;
                    align-items: center !important;
                    .edit-btn{
                        width: 100px ;
                        height: 30px !important;
                        border-radius: 4px !important;
                        margin-left: 5px;
                        font-size: 12px;
                    }
                    .del-btn{
                        width: 100px ;
                        height: 30px !important;
                        border-radius: 4px !important;
                        margin-left: 5px;
                        font-size: 12px;
                    }
                    .border-none-btn {
                        border: none !important;
                    }
                    .filter-btn {
                        line-height: 24px !important; 
                        width: 18px !important;
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
                .btns-spliter {
                    height: 26px !important;
                    width: 0px !important;
                    border-right: 2px solid;
                    margin: 0px 4px !important;
                }
            }
        }
    }
    .navs-and-buttons-wrapper{
        .curboard_label{
            padding-left: 16px;
            font-size: 14px;    
            font-weight: bold; 
        }
        .ant-tabs {
            // width: 1030px ;
            // min-width: 1030px ;
            height: 50px !important;
            padding: 5px !important;
            .ant-tabs-nav-scroll{
                height: 100% !important;
                .ant-tabs-nav {
                    height: 100% !important;
                }
            }
            .ant-tabs-tab{
                height: 30px !important;
                width: 128px !important;
                padding: 0px 16px !important;
                border: none !important;
                border-right: 1px solid !important;
                border-radius: 0px !important;
                font-size: 14px !important;
                div{
                    height: 100% !important;
                    line-height: 30px !important;
                    overflow: hidden; 
                    display: flex;  
                    justify-content: center;
                    align-items: center;
                    span.text-span{
                        flex-grow: 1;
                        display: inline-block;
                        overflow: hidden;
                        text-overflow:ellipsis;    
                        white-space: nowrap;
                        text-align: center;
                        // width: 65px !important; 
                    }
                    span.ant-tabs-close-x{
                        // height: 30px !important;
                        min-width: 20px;
                        margin-left: 0px;
                    }
                }
            }
            .ant-tabs-bar{
                border-bottom: none !important;
            }
            .ant-tabs-nav-container {
                padding: 5px 0px ;
            }
            .ant-tabs-nav-container-scrolling {
                // padding-left: px !important;
                // padding-right: 64px !important;
                padding: 5px 32px 5px 32px;
            }
            .ant-tabs-tab-prev{
                // left:956px ;
                bottom: 0px !important;
                .ant-tabs-tab-prev-icon{
                    width:26px !important;
                    height: 26px !important;
                    line-height: 30px !important;
                    .ant-tabs-tab-prev-icon-target{
                        font-size: 18px !important;
                    }
                }
            }
            .ant-tabs-tab-next{
                bottom: 0px !important;
                .ant-tabs-tab-next-icon{
                    width:26px !important;
                    height: 26px !important;
                    line-height: 30px !important;
                    .ant-tabs-tab-next-icon-target{
                        font-size: 18px !important;
                    }
                }
                
            }
            .ant-tabs-close-x {
                font-size: 10px;
            }
        }
    }
    
}
#layout.form-box {
    padding: 0px !important;
    .react-grid-layout{
        margin-left: -10px !important;
    }
    .slice-card{
        box-shadow: none;
        .slice-head{
            // display: flex;
            height: 46px;
            line-height: 46px;
            line-height: 46px;
            .slice-head-notice{
                height: 16px;
                width: 4px;
                border-radius:2px;
                float: left;
                margin-right: 10px;
                // margin-top: 1px;
            }
            .slice-head-content{
                position: relative;
                height: 32px;
                display: flex !important;
                flex-wrap: nowrap !important;
                justify-content: space-between !important;
                align-items: center !important;
                // padding-left: 14px;
                .middle-text{
                    height: 100%;
                    flex-grow: 1 !important;
                    font-size: 14px;
                    font-weight: normal !important;
                    display: flex;
                    align-items: center;
                    a{
                        height: 100%;
                        line-height: 32px;
                        // display: flex;
                        // align-items: center;
                    }
                }
                // &::before{
                //     content: '';
                //     width: 4px;
                //     height: 16px;
                //     position: absolute;
                //     left: 0px;
                //     top: 9px;
                //     border-radius: 4px;
                // }
            }
            
        }
        .slice-body{
            .ant-table-cell{
                font-size: 14px;
                .ant-table-column-sorters{
                    padding: 0px;
                }
            }  
        }
    }
}

#layout.form-wrapper {
    .slice-card{
        box-shadow: none;
        .slice-head{
            // display: flex;
            height: 46px;
            line-height: 46px;
            line-height: 46px;
            border: none;
            .slice-head-notice{
                height: 16px;
                width: 4px;
                border-radius:2px;
                float: left;
                margin-right: 10px;
                // margin-top: 1px;
                background-color: #6D36F3;
            }
            .slice-head-content{
                height: 32px;
                // line-height: 32px;
                display: flex !important;
                flex-wrap: nowrap !important;
                justify-content: space-between !important;
                align-items: center !important;
                // padding-left: 14px;
                .middle-text{
                    height: 100%;
                    flex-grow: 1 !important;
                    font-size: 16px;
                    font-weight: normal !important;
                    display: flex;
                    align-items: center;
                    a{
                        height: 100%;
                        line-height: 32px;
                        // display: flex;
                        // align-items: center;
                    }
                }
                // &::before{
                //     content: '';
                //     background-color: #6D36F3;
                //     width: 4px;
                //     height: 16px;
                //     position: absolute;
                //     left: 0px;
                //     top: 9px;
                //     border-radius: 4px;
                // }
            }
        }
        
        .slice-body{
            .ant-table-cell{
                font-size: 14px;
                .ant-table-column-sorters{
                    padding: 0px ;
                }
            }
        }
    }
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.always-display-scrollbar-horizontal-all.fix-table-head-issue .ant-table-fixed-header .ant-table-header{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}