.scenes-analytics
  .lean-title-card
    .ant-card-head-title
      padding: 10px 0
  .bg-gray-blue
    background-color #f9f9fb
  .color-purple-blue, .color-purple-blue *
    color #9986ff
  .borderl2
    border-left: 3px solid #ddd;

.contain-docs-analytic
  .bg-gray-blue
    background-color #f9f9fb
.appuser-lifecycle
  display: flex
  justify-content: space-around
  .appuser-lifecycle-box
    border: 1px solid #ccc
  .lifecycle-box-main
    text-align: center
    margin: 0 auto
  .appuser-lifetcycle-comment
    letter-spacing: -1px
.scenes-analytics-middlebox
  overflow visible
