.access-collector
  .ant-progress.ant-progress-line.ant-progress-status-active,
  .ant-progress.ant-progress-line.ant-progress-status-normal
    .ant-progress-bg
      background-color colorBlue
  .ant-progress.ant-progress-line.ant-progress-status-success
    .ant-progress-bg
      background-color colorGreen
  .ant-progress.ant-progress-line.ant-progress-status-exception
    .ant-progress-bg
      background-color #c9cbca
  .pd20x
    padding-left 20px
    padding-right 20px
  .pd26r
    padding-right 26px
  .pd26l
    padding-left 26px
  .bg-gray
    background-color #f0f1f5

  article.markdown-body
    font-size 13px
    h1
      font-size 1.5em
    h2
      font-size 1.3em
    h3
      font-size 1.1em
