
// .inputNumberChart
// 	text-align center
// 	height 100%
// 	padding 8px
// 	overflow auto

// 	.metric-name
// 		color #999
// 		font-size 15px
//   .ant-input-affix-wrapper .ant-input:focus 
//     border: none
//     border-bottom: 1px solid white !important
//     box-shadow: none
// 	h1
// 		font-size 40px

    
#inputNumberChart>.ant-input:hover {
  font-size 10px  
}

// #inputNumberChart .pd1y .center-of-relative .inputNumberChart .aligncenter .hide-all-scrollbar-y .overscroll-y .relative .css-0 .ant-input:focus
//   border-right-width 0 !important
//   box-shadow none