
.navigation-start-page 
  .ant-dropdown-menu-item:hover
  .ant-dropdown-menu-submenu-title:hover
    background: blue

#navigation-start
  .header
    box-shadow: 0px 0px 1px 0px #1376cf

  .category-name
    height:24px;
    line-height: 24px;
    font-size:20px;
    font-family:Source Han Sans CN, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    font-weight:bold;
    position: relative
    top: 2px

  .item-box-name
    height:24px;
    font-size:20px;
    font-family:Source Han Sans CN, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    font-weight:bold;

  .item-box:hover
    background: transparent url('/_bc/sugo-analytics-static/assets/images/gzrailway/nav-start/pho_Selected.png') no-repeat !important
    box-shadow: 4px -4px 16px 4px #29367F
    border-radius: 10px;
    img
      border-radius: 50%;
      background: #efeef8;
      width: 48px !important;
      height: 48px !important;
      padding: 5px !important;