

.setp_info 
  max-height 70vh
  overflow-y auto
  .ant-table-footer 
    padding  8px 8px
  .CodeMirror 
    border 1px solid #e8e8e8
    border-radius 3px
    height 500px !important
  .ant-table-body table 
    padding 0px 0px !important
  .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td
    padding 3px 5px !important
  .config-panel-height
    height 384px
.setp_info_drawer
  .ant-drawer-content 
    background-color #f0f2f5
.operation-panel
  position absolute
  bottom 0
  width 100%
  border-top 1px solid #e8e8e8
  padding 10px 16px
  text-align center
  left 0
  background #fff                                                                
  border-radius 0 0 4px 4px

.editable-cell 
  position relative

.editable-cell-value-wrap 
  padding 6px 12px
  cursor pointer
  min-height 30px

.editable-cell-value-wrap:hover 
  border 1px solid #d9d9d9
  border-radius 4px
  padding 5px 11px

.task-params-divider-padding
  margin 1px 0 !important
.custom-excute-input
  width 120px
.custom-timeout-input
  width 300px
.custom-timeunit-select
  position relative
  left 5px
  width 200px
.custom-timeunit-text
  position relative
  left 10px
.flow-design-panel
  overflow-x auto