.live-screen-top-tool 
  background-color #222528
  color #bcc9d4
  padding 0 32px 0 32px
  height 44px
  line-height 44px
  font-size 14px
  .live-screen-top-tool-height
    height 44px
  
.live-screen-panel-list
  color #bcc9d4
  .title
    padding 8px
    background-color #2E343C
    color #bcc9d4
  .tool
    border-bottom 2px solid #2E343C
    color #00BAFF
  .list-item
    padding 10px
  .list-item-hover
    background-color #27333B
.live-screen-page-edit
  .title
    padding 8px
    background-color #2E343C
    color #bcc9d4
  .item-title
    font-size 13px
    font-weight bold
.data-access-panel
  .access-title
    color #bcc9d4
    border-bottom 1px solid #282f3a
    border-top 1px solid #282f3a
    line-height 39px
  .access-fields-item
    color #bcc9d4
    margin-bottom 8px
    text-align center
    line-height 39px
    input 
      width 80px
      border-radius 0px
      height 25px
      padding 3px
  .access-button 
    margin 16px auto auto auto
    line-height 26px
    height 28px
    width: 150px;
    text-align: center;
    border 1px solid #00baff
    color #24b1ff
    background 0 0
    &:hover 
      color #293f52
      background-image linear-gradient(-225deg,#00d3f1 0,#12b3ff 100%)
      box-shadow 0 0 15px 0 rgba(0,193,220,.37)
.screen-workbench
    border-radius 0px
.screen-workbench-control-theme
  .ant-popover-content
    .ant-popover-arrow
      border-top-color #19202a
      border-left-color #19202a
  .ant-input-number-input, .ant-input-number-handler-wrap
    background #0e1013
    color #bcc9d4
    border-radius 0px
  .ant-input-number
    border 1px solid #282f3a
    border-radius 0px
  .ant-upload.ant-upload-drag
    background #0e1013
    color #bcc9d4
  .ant-upload-text
    color #bcc9d4 !important
  .ant-input
    border 1px solid #282f3a
    background #0e1013
    color #bcc9d4
    border-radius 0px
  .ant-select-selector
    border 1px solid #282f3a !important
    background #0e1013 !important
    color #bcc9d4 !important
    border-radius 0px !important
  .ant-select-dropdown
    border 1px solid #282f3a
    background #0e1013
    color #bcc9d4
    border-radius 0px
  .ant-select-dropdown-menu-item,
  .ant-select-item-option
    color #bcc9d4
  .ant-select-item-option-selected,
  .ant-select-item-option-active,
  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item-active,
  .ant-select-tree-node-selected,
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected
    background #282f3a
  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected,
  .ant-select-tree li .ant-select-tree-node-content-wrapper:hover,
  .ant-tree li .ant-tree-node-content-wrapper:hover
    background #19202a
  .ant-select-dropdown-menu-item-active
    color #00baff
  .ant-input-number-handler-down, .ant-input-number-handler-up
    background #19202a
    color #bcc9d4
  .ant-input-number-handler-up-inner,
  .ant-input-number-handler-down-inner,
  .ant-dropdown-menu-submenu-arrow
    color #bcc9d4
  .ant-popover-inner-content, 
  .ant-card-body, 
  .ant-select-selection__clear,
  .ant-popover-title,
  .ant-tree-title,
  .ant-select-dropdown
    background #19202a
    color #bcc9d4
  .ant-dropdown-menu-item,
  .ant-select-dropdown-menu,
  .ant-dropdown,
  .ant-dropdown-menu,
  .ant-dropdown-menu-submenu-title,
  .ant-dropdown-menu-submenu
  .filter-setting-popover .ant-select-dropdown-menu-item:first-child
    background-color #0e1013
    color #bcc9d4

  .ant-card-bordered
    border 1px solid #282f3a
  .ant-form-item-label label, .ant-radio-wrapper, .ant-form-item-control, .ant-select-tree-title, .ant-select-tree-switcher, .ant-radio-group
    color #bcc9d4
  .ant-divider
    background-color #282f3a
  .ant-btn, .ant-radio-button-wrapper, .ant-input-group-addon
    border-radius 0px
    background #1b1f25
    color #bcc9d4
    border 1px solid #282f3a
  .ant-radio-button-wrapper-checked
    background #6969d7
    border-color #6969d7
  .ant-input-number-handler-down
    border-top 1px solid #282f3a
  .ant-input-number-handler-wrap
    border-left 1px solid #282f3a
  .ant-collapse 
    background #222528
    color #bcc9d4
  .ant-collapse > .ant-collapse-item > .ant-collapse-header
    background #1B1F25
    color #bcc9d4
    border-bottom 1px solid #282f3a
    line-height 16px
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow
    line-height 40px
  .ant-collapse-content
    background #222528 !important
    color #bcc9d4
  .analytic-popover .tile
    background #0e1013 !important
    color #bcc9d4
  .ant-collapse-borderless > .ant-collapse-item
    border none
  .ant-collapse > .ant-collapse-item
    border none
  .ant-input-number-handler-wrap
    border-radius 0px
  .ant-upload.ant-upload-drag
    border-radius 0px
  .ant-checkbox-wrapper
    color #bcc9d4
  .ant-table-fixed
    width auto !important
  .ant-table-row-expand-icon
    display none
  .ant-upload-list
    color: #bcc9d4
  .anticon-paper-clip
    color: currentColor
  .ant-upload-list-item:hover
    color: #282f3a
  .live-screen-slice-pick
    .ant-radio-wrapper,
    .ant-radio-group
      background-color #8996a2
      color rgba(0, 0, 0, 0.65)
  // .ant-table-row-expand-icon
  //   display none
  .live-screen-size-slider
    position absolute
    top 45px
    margin-left -250px
    z-index 999

  @keyframes scrolling{0%{margin-top:0;}10%{margin-top:0;}90%{margin-top:-7vw;}100%{margin-top:-7vw;}}

  @font-face 
    font-family 'digital7'; 
    src url('../../images/digital-7-mono.ttf')
