.pio-body-box
  padding: 10px 0
  height: 100%
  overflow hidden
  overflow-y:auto
  width: 100%
  .pio-chart-box
    width: 100%
    height 60%
    padding: 0 20px
    box-sizing: border-box;
    display: -webkit-box;
    overflow hidden
    margin-bottom: 20px
    .item
      height 100%
      width: 50%
      float left
      .box
        width: 100%
        height 100%
  .pio-random-box
    width: 100%
    .box
      width: 100%
      min-height: 800px
