
.overview_statistics_component
  display inline-block
  bos-sizing border-box
  width 50%
  .rowClassName
    td
      padding 10px 16px
  .pie
    vertical-align middle
    padding 0 10px
    width 60%
    display inline-block 
  .table
    vertical-align middle
    width 40%
    padding 0 10px
    display inline-block
    .bgeee
      background-color #eee
.workflow_statistics_component
  .pie
    position relative
    .btn 
      position absolute
      right 10px
      top 10px
      width: 80px
      text-align center
      color #fff
      line-height 28px
      cursor pointer
      height: 28px
      background: #6969d7
      border-radius: 5px
.labaleSelector
  margin 10px 0px
  display inline-block
  vertical-align middle
  .select
    marginLeft 10
    width 200
.selectContainer
  margin-left 10px
  display inline-block
  width 120px
  vertical-align middle
  .select
    min-width 120px 