.compare-page
  &-header
    height 44px
    background #f7f7f7
    position relative
    display flex
    align-items center
    justify-content center
    .back-btn
      position absolute
      left 20px
      top 0
      bottom 0
      margin auto
  &-content
    display flex
    justify-content space-around
    align-items flex-start
  &-table-wraper
    width 600px
    margin-top 30px
    display flex
    flex-flow column
    align-items center