.sdk-traffic
  background-color #f4f4f4
  .total-panel 
    height 440px
    background-color #ffffff
    padding 15px 80px 30px 80px
  .total-item
    margin-bottom 24px
  .app-panel
    padding 20px 80px
  .app-title
    background-color #ffffff
    padding 18px 18px 18px 50px
    margin-bottom 10px
  .app-item
    background-color #ffffff
    margin-bottom 10px
  .app-item-title
    padding-left 50px
  .app-item-data
    padding 15px
  .app-item-icon
    margin-top 13px
    position absolute
    margin-left 10px
  .app-item-border-left
    border-left #f4f4f4 1px solid 
  .app-item-border-bottom
    border-bottom #f4f4f4 1px solid 
  .yesterday-color
    color #989898
  .today-color
    color #323232