
.traffic-analytics-theme
  .collapse-toggle-btn
    background-color #9986ff
  .ant-card-head-title
    color white
  .ant-card-head
    background-color #7f73d6
  .borderl2
    border-left 3px solid #ddd
  .border
    border solid 1px #dbdfed
  .bordert
    border-top solid 1px #dbdfed
  .borderr
    border-right solid 1px #dbdfed
  .noradius
    border-radius: 0
  .height29
    height: 29px
  .shadow12
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15)
  .table-gray-blue-head .ant-table-thead > tr > th
    background: #f9f9fb
  .table-white-head .ant-table-thead > tr > th
    background: white
  .bg-gray-blue
    background-color #f9f9fb
  .bg-f5
    background: #f5f5f5
  .filter-col
    border-radius: 2px
    border: none
    height: 29px
    &:hover
      background: #ddd
  .blue-shadow
    box-shadow 0 2px 10px 0 rgba(124, 147, 184, 0.5)
  .color-purple-blue, .color-purple-blue *
    color #9986ff
  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked
    background-color #9986ff
    border-color #9986ff
    box-shadow none
  .ant-table-thead th span
    color #9986ff
  .ant-table-tbody > tr > td
    border-bottom solid 1px #dbdfed
  .filter-id-item
    .ant-legacy-form-item-control-wrapper
      width 180px


.condition
  .ant-popover-title
    background-color: #eee
