.tag-enhance-item
  border 1px solid #eeeeee
  margin-top 20px
  margin-left 20px
  float left
.tag-enhance-title
  font-weight bold
  font-size 16px
  line-height 17px
  height 22px
.tag-enhance-name
  height 40px
  background-color rgb(209, 209, 209)
  text-align center
  line-height 40px
  margin-top 10px
.tag-enhance-content
  padding 15px
.tag-enhance-to
  height 60px
.tag-enhance-from
  height 80px
  margin-top 10px
.tag-enhance-content-title
  position absolute
  width 20px
  word-wrap break-word
.tag-enhance-content-name
  background-color rgb(112,115,225)
  color #ffffff
  height 50px
  line-height 50px
  text-align center
  margin-left 30px
  position relative
.tag-enhance-content-date
  color #cccccc
  text-align center
  margin-left 30px
.tag-enhance-arrows
  height 100px
  text-align center
  padding-left 30px
.ant-card-body
  padding 15px 15px
.tag-enhance-arrows-text
  margin-top -60px
  color #99a0aa
.tag-enhance-arrows-img
  width 180px
.tag-enhance-edit-arrows
  margin-left 50%
.tag-enhance-edit-arrows-img
  width 50px
  height 50px
.tag-enhance-edit-arrows-text
  line-height 50px
  margin-left 10px

