
.case-warp 
  background-color #E4EAEF
  height calc(100vh - 92px)
  overflow-y auto
.case-panel 
  padding 0px 50px 20px 50px
  img 
    width: 100%
  .list-item
    border-top 11px solid #BFBFBF
    border-left 1px solid #BFBFBF
    border-right 1px solid #BFBFBF
    border-bottom 1px solid #BFBFBF
    border-radius 5px
    padding 8px 15px 13px 15px
  .list-item:hover
    border-color #6969D7

.case-dtl-list
  background-color #39404D
  width 200px
  height calc(100vh - 92px)
  overflow-y auto
  float left
  .list-item 
    padding 7px 10px 
  img 
    width: 100%
  .list-item-check
    background-color #51576D

.case-dtl-card
  width calc(100% - 200px)
  float left
  padding 10px 20px
  height calc(100vh - 92px)
  .card-body
    height calc(100vh - 134px)
    overflow-y auto
    text-align center
    padding 0px
