$active-active-background-path = "../../../../../../node_modules/sugo-analytics-static/assets/images/market-brain-h5/header2.png"
#container
  height 100%
  
#market-brain
  height 100%
  width 100%
  //活动详情
  #market-brain-active-detail
    height 100%
    background-color #FFF2C9
    position relative
    .header
      width 100%
      height 1.4rem
      background-image url($active-active-background-path)
      background-repeat no-repeat
      background-size contain
      padding-top .6rem
      text-align center
      font-size 22px
      color #FFFFFF
      font-weight 999
      .title
        width 2.3rem
        height .5rem
        line-height .5rem
        border-radius .1rem
        background-color #ffffff
        color #202020
        font-size 16px
        text-align center
        margin 0 auto
        margin-top .14rem
        font-weight 10
        box-shadow 0 8px 4px rgba(255, 156, 12, 0.18)
    .contain
      height calc(100vh - 1.4rem - 0.65rem)
      overflow scroll
      .body
        width 3.35rem
        margin .36rem auto
        padding .08rem 
        background-color #ffffff
        overflow scroll
        .inner-body
          border 1px solid #FFBF3D
          width 3.2rem  
          padding .1rem .26rem 
          .content-title
            width .95rem
            height 14px
            margin-top .15rem
            .content-title-word
              background-image linear-gradient(to bottom, rgba(1,1,1,0)65%, rgba(255, 191, 61, 1)35%)
              text-indent -10px
              height 14px
              line-height 14px
              color #202020
              font-size 14px
              font-weight 300
              padding-right 10px
          .content-inner
            color #666666
            font-size 12px
            margin-top .07rem
            word-wrap: break-word
            .content-inner-copy-button
              width 70px
              height 20px
              margin-bottom 20px
              line-height 20px
              font-size 12px 
              border-radius 10px
              color #ffffff 
              margin-top 5px
              text-align center
              background-image linear-gradient(to right, #F7B338, #FF5158)
      .claim
        margin 0 auto
        width 230px
        height 30px
        line-height 34px
        font-size 16px
        color #FFFFFF
        text-align center
        border-radius 15px
        background-image linear-gradient(to right, #F7B338, #FF5158)