#market-brain-bottom-fix
  width 100%
  height .65rem
  background-color rgba(42, 38, 38, 0.6)
  padding .14rem
  display flex
  justify-content space-around
  .button
    width 1.5rem
    height .35rem
    line-height .35rem
    border-radius .1rem
    color #FFFFFF
    text-align center
  .act-claim
    background-color #FF5158
  .mission-exec
    background-color #FFAE07