.inspect-slice-modal
  .ant-modal-title
    color #D5DCF1
  .ant-modal-close
    color #8298D8
  .ant-modal-header
    background #1A2646
    border-bottom none
  .ant-modal-body
    background #27355C
